/* Insert all the styles */

.shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.highlight_wrapper {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
background-color: var(--dividerColor);
color: var(--text);
grid-gap: 16px;
padding: 16px;
}

.highlight_wrapper article img{
  height: auto;
  object-fit: cover;
  width: 100%;
    margin-bottom: -5px;
}

@media only screen and (max-width: 992px) {

  .highlight_wrapper {
   grid-template-columns: repeat(2, 1fr);
  }

.highlight_big{
grid-column: span 2;
}


}
